<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="pt-14">
        <!-- Pantalla de carga -->
        <div id="loader-overlay"
            class="fixed inset-0 flex flex-col items-center justify-center bg-white z-50">
            <img src="/images/logob.png" alt="Cargando..." class="w-16 h-16 mb-3 animate-pulse">
            <p class="text-gray-600 font-medium">Cargando panel...</p>
        </div>
        <!--Placeholder de navbar -->
        <div id="navbar-placeholder"
            data-partial="/partials/navbarmerchant.html"
            data-content-id="page-content"
            data-slot-selector="#content-slot"
            data-fallback-selector=".border-dashed.rounded-lg">
        </div>
        <main id="page-content" data-active-tab="mano">
            <h1 class="text-3xl font-bold">Registro a mano</h1>
            <div id="tabs-placeholder" class="mb-4"></div>
            
            <!-- campo para ingresar el numero de tarjeta -->
            <label for="chat" class="block mb-2 text-sm font-medium text-gray-900">Ingresa el número de la tarjeta</label>
            <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50">
                <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-center text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="xxxx-xxxx-xxxx-xxxx"></textarea>
            </div>
            
            <!-- boton de cancelar -->
            <button id="generateBtn" class="mt-4 text-black border-1 border-gray-500 bg-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Cancelar</button>
            <div id="qrcode" class="mt-4 p-4 border border-gray-800 rounded-lg bg-gray-50 hidden"></div>
            
            <!-- boton de registrar -->
            <button id="submitBtn" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Registrar</button>
            <div id="response" class="mt-4 p-4 border border-gray-300 rounded-lg bg-gray-50 hidden"></div>

        </main>
        <script defer src="/static/merchant/navbar.js"></script>
        <script defer src="/static/merchant/registrar.js"></script>
    </body>
    <!-- include:navbarmerchant -->
    <!-- include:tabsregistrar -->
</html>